<html>
<h3>Add new city:</h3>
<form id="addCity" action="/city" method="post">
    City name: <input type="text" name="name"><br>
    State: <input type="text" name="state"><br>
<<<<<<< HEAD
    <input type="submit" value="Submit">
=======
	<input type="submit" value="Submit">
>>>>>>> 024fcfe64a8c1d6ad0248dbb0117ea0ad7c0121b
 </form>
<br/>

<form id='filter_city' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by State </label>
    <select id='state_filter' name="state"> 
    </select><br>
    <input type="button" value="Filter" onclick="filterCityByState()">
</form>

<form id='search_city' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search cities by name starting with:</label>
    <input id='city_search_string' type='text' name='city_search_string' value=''>
    <input type="button" value="Search" onclick="searchCityByName()">
</form>

<h3>Current Cities:</h3>
<table>
    <thead> 
        <th>City Name</th> 
        <th>State</th> 
    </thead> 
    <tbody>
        {{#each city}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{state}}</td> 
            <td><button onclick="deleteCity({{id}})">Delete</button></td>
            <td><a href="/city/{{id}}">Update</a></td>
        </tr>
	{{else}}
	<b> No cities are found in the database! Put some in using the form. </b>
        {{/each}} 
    </tbody> 
</table> 
</html>
