<html>
<head>
	<meta charset="utf-8">
	<title>What's Your Six? | Hotel Prices</title>
	<link href = '../style.css' rel = 'stylesheet' type = 'text/css'>
	</head>
<body>
  <h2>What's Your Six Group's Database. </h2>
  <h4> Menu of operations</h4>
   <ul class = "menu">
	<li class = "homeButton"> <a href='/'>Home</a></li>
	<li class = "menuButton"> <a href='/city'>List & Add Cities</a></li>
    	<li class = "menuButton"> <a href='/activity'>List & Add Activities</a></li>
	<li class = "menuButton"> <a href='/hotel'>List & Add Hotels</a></li>
    	<li class = "menuButton"> <a href='/airline'>List & Add Airlines</a></li>
	<li class = "menuButton"> <a href='/traveler'>List & Add Travelers</a></li>
	<li class = "menuButton"> <a href='/activityprice'>List & Add Activity Prices</a></li>
	<li class = "menuButton"> <a href='/hotelprice'>List & Add Hotel Prices</a></li>
	<li class = "menuButton"> <a href='/airlineprice'>List & Add Airline Prices</a></li>
	<li class = "menuButton"> <a href='/tripcriteria'>List & Add Trip Criteria</a></li>
	<li class = "menuButton"> <a href='/destinationtype'>List & Add Destination Types</a></li>
	<br>
	
    
  </ul>
  <br/>
<h3> Associate Price(s) with a Hotel </h3>
<form id="addhotelprices" action="/hotelprice" method="post">
    Hotel: <select name='hotel_id'>
        {{#each hotel}}
          <option value='{{id}}'>{{name}}</option>
        {{/each}}
    </select>
	<br>
	Book date: <input type="date" name="book_date"><br>
    Price: <input type="number" value="1000" min="0" step="0.01" name="price"><br>
    <input type="submit" value="Submit"><
	</form>
<br/>

<h3>Current Prices:</h3>
<table>
    <thead> 
        <th>Hotel Name</th> 
        <th>Book Date</th>
		<th>Price</th>
    </thead> 
    <tbody>
        {{#each hotel_price}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{book_date}}</td>
			<td>{{price}}</td>
            <td><button onclick="deleteHotelPrice({{hotel_id}})">Delete</button></td>
            <td><a href="/hotel/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
