<html>
<head>
	<meta charset="utf-8">
	<title>What's Your Six? | Travelers</title>
	<link href = '../style.css' rel = 'stylesheet' type = 'text/css'>
	</head>
<body>
  <h2>What's Your Six Group's Database. </h2>
  <h4> Menu of operations</h4>
   <ul class = "menu">
	<li class = "homeButton"> <a href='/'>Home</a></li>
	<li class = "menuButton"> <a href='/city'>List & Add Cities</a></li>
    	<li class = "menuButton"> <a href='/activity'>List & Add Activities</a></li>
	<li class = "menuButton"> <a href='/hotel'>List & Add Hotels</a></li>
    	<li class = "menuButton"> <a href='/airline'>List & Add Airlines</a></li>
	<li class = "menuButton"> <a href='/traveler'>List & Add Travelers</a></li>
	<li class = "menuButton"> <a href='/activityprice'>List & Add Activity Prices</a></li>
	<li class = "menuButton"> <a href='/hotelprice'>List & Add Hotel Prices</a></li>
	<li class = "menuButton"> <a href='/airlineprice'>List & Add Airline Prices</a></li>
	<li class = "menuButton"> <a href='/tripcriteria'>List & Add Trip Criteria</a></li>
	<li class = "menuButton"> <a href='/destinationtype'>List & Add Destination Types</a></li>
	<br>
	
    
  </ul>
  <br/>

<h3>Add new traveler:</h3>
<form id="addTraveler" action="/traveler" method="post">
    Traveler name: <input type="text" name="traveler"><br>
    Street: <input type="text" name="street"><br>
	City: <input type="text" name="city"><br>
	State: <input type="text" name="state"><br>
	Zip Code: <input type="text" name="zipCode"><br>
	Email: <input type="text" name="email"><br>
	Phone: <input type="text" name="phone"><br>
	<input type="submit" value="Submit">
 </form>
<br/>

<form id='filter_traveler' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by State </label>
    <select id='state_filter' name="state"> 
    </select><br>
    <input type="button" value="Filter" onclick="filterTravelerByState()">
</form>

<form id='search_traveler' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search travelers by name starting with:</label>
    <input id='traveler_search_string' type='text' name='traveler_search_string' value=''>
    <input type="button" value="Search" onclick="searchTravelerByName()">
</form>

<h3>Current Travelers:</h3>
<table>
    <thead> 
        <th>Traveler Name</th> 
        <th>Street</th>
		<th>City</th>
		<th>State</th>
		<th>Zip Code</th>
		<th>Email Address</th>
		<th>Phone Number</th>
    </thead> 
    <tbody>
        {{#each traveler}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{address_street}}</td>
	    <td>{{address_city}}</td>
	    <td>{{address_state}}</td>
	    <td>{{address_zip_code}}</td>
	    <td>{{email_address}}</td>
	    <td>{{phone_number}}</td>
            <td><button onclick="deleteTraveler({{id}})">Delete</button></td>
            <td><a href="/traveler/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
