<html>
<head>
	<meta charset="utf-8">
	<title>What's Your Six? | Update Activity</title>
	<link href = '../style.css' rel = 'stylesheet' type = 'text/css'>
	</head>
<body>
  <h2>What's Your Six Group's Database. </h2>
  <h4> Menu of operations</h4>
   <ul class = "menu">
	<li class = "homeButton"> <a href='/'>Home</a></li>
	<li class = "menuButton"> <a href='/city'>List & Add Cities</a></li>
    	<li class = "menuButton"> <a href='/activity'>List & Add Activities</a></li>
	<li class = "menuButton"> <a href='/hotel'>List & Add Hotels</a></li>
    	<li class = "menuButton"> <a href='/airline'>List & Add Airlines</a></li>
	<li class = "menuButton"> <a href='/traveler'>List & Add Travelers</a></li>
	<li class = "menuButton"> <a href='/activityprice'>List & Add Activity Prices</a></li>
	<li class = "menuButton"> <a href='/hotelprice'>List & Add Hotel Prices</a></li>
	<li class = "menuButton"> <a href='/airlineprice'>List & Add Airline Prices</a></li>
	<li class = "menuButton"> <a href='/tripcriteria'>List & Add Trip Criteria</a></li>
	<li class = "menuButton"> <a href='/destinationtype'>List & Add Destination Types</a></li>
	<br>
  </ul>
  <br/>
<h3>Update {{activity.name}}'s Attributes:</h3>
<form id="update-activity" action="/activity" method="post">
    Activity Name: <input type="text" name="name" value="{{activity.name}}"><br>
    Phone Number: <input type="text" name="phone_number" value="{{activity.phone_number}}"><br>
    City: <select name="city_id" id="city-selector"> 
        {{#each cities}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
</select><br>
</form>
<button onclick="updateActivity({{activity.id}});">Update</button>
<script defer>selectCity({{activity.city_id}});</script>
</html>
